<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <button class="button-primary" (click)="generateNewUUID()">Generate new UUID</button>
    </div>
    <div class="col-sm-12 col-md-12 ">
      <div class="barcode-item barcode-text"><span>{{newUUID}}</span></div>
    </div>
    <div class="col-sm-12 col-md-12 ">
      <div class="barcode-item">
        <svg id="barcode"></svg>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <div class="barcode-text h3"> Some Static Barcodes</div>
    </div>
    <div class="col-sm-12 col-md-3 ">
      <div class="static-barcode-item">
        <div class=" lead"> ean-13</div>
        <svg id="ean-13"></svg>
      </div>
    </div>
    <div class="col-sm-12 col-md-3 ">
      <div class="static-barcode-item">
        <div class=" lead"> ean-8</div>
        <svg id="ean-8"></svg>
      </div>
    </div>
    <div class="col-sm-12 col-md-3 ">
      <div class="static-barcode-item">
        <div class=" lead"> ean-5</div>
        <svg id="ean-5"></svg>
      </div>
    </div>
    <div class="col-sm-12 col-md-3 ">
      <div class="static-barcode-item">
        <div class=" lead"> ean-2</div>
        <svg id="ean-2"></svg>
      </div>
    </div>
    <div class="col-sm-12 col-md-3 ">
      <div class="static-barcode-item">
        <div class=" lead"> upc-a</div>
        <svg id="upc-a"></svg>
      </div>
    </div>
    <div class="col-sm-12 col-md-3 ">
      <div class="static-barcode-item">
        <div class=" lead"> code39</div>
        <svg id="code39"></svg>
      </div>
    </div>
    <div class="col-sm-12 col-md-3 ">
      <div class="static-barcode-item">
        <div class=" lead"> itf-14</div>
        <svg id="itf-14"></svg>
      </div>
    </div>
    <div class="col-sm-12 col-md-3 ">
      <div class="static-barcode-item">
        <div class=" lead"> msi</div>
        <svg id="msi"></svg>
      </div>
    </div>
    <div class="col-sm-12 col-md-3 ">
      <div class="static-barcode-item">
        <div class=" lead"> pharmacode</div>
        <svg id="pharmacode"></svg>
      </div>
    </div>
  </div>

</div>